
<!doctype html>
<html lang="ja" data-bs-theme="auto">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>UNIFORMLAB オリジナルデザインのチームウェアを作ろう</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="UNIFORMLAB">
  <meta name="application-name" content="UNIFORMLAB">
  <meta name="color-scheme" content="light only">
  <meta name="supported-color-schemes" content="light">
  <meta name="color-scheme" content="light only">
  <meta name="supported-color-schemes" content="light">
  <meta property="og:url" content="https://uniformlab.jp/">
  <meta property="og:title" content="UNIFORMLAB オリジナルデザインのチームウェアを作ろう">
  <meta property="og:description" content="野球、サッカー、バレー、バスケットボールのユニフォーム、チームウェア、部活ユニフォームのことならユニフォームラボ">
  <meta property="og:type" content="website">
  <meta name="description" content="野球、サッカー、バレー、バスケットボールのユニフォーム、チームウェア、部活ユニフォームのことならユニフォームラボ">

  

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
  <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" id="application-css" href="./assets/dist/css/app.css" type="text/css" media="all">
  <link rel="stylesheet" id="page-home-css" href="./assets/dist/css/home.css" type="text/css" media="all">
  <script src="./assets/dist/css/app-head.js"></script>
  <link href="./assets/dist/css/custom.css" rel="stylesheet">
  <link href="./assets/dist/css/style-shop.css" rel="stylesheet">

  <!--SVG-->
  <svg xmlns="http://www.w3.org/2000/svg" style="display:block;width:0px;height:0px;position;absolute;right:100%;">
    <defs>
      <radialgradient id="spinner-gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(30 28.4746) rotate(-44.5524) scale(46.0233 34.3186)">
        <stop stop-color="#fff" stop-opacity="0"></stop>
        <stop offset="0.471409" stop-color="#fff" stop-opacity="0"></stop>
        <stop offset="0.99812" stop-color="#fff"></stop>
        <stop offset="0.999249" stop-color="#fff"></stop>
      </radialgradient>
      <radialgradient id="spinner-gradient-blue" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(30 28.4746) rotate(-44.5524) scale(46.0233 34.3186)">
        <stop stop-color="#002FEA" stop-opacity="0"></stop>
        <stop offset="0.471409" stop-color="#002FEA" stop-opacity="0"></stop>
        <stop offset="0.99812" stop-color="#002FEA"></stop>
        <stop offset="0.999249" stop-color="#002FEA"></stop>
      </radialgradient>
    </defs>

    <symbol id="logo" viewBox="0 0 200 200">
      <path fill="currentColor"
        d="M186.1 101.1c0 37.3-16.5 64.2-36.7 85.9-7.4 4.2-15.4 7.5-23.8 9.7-5-2.8-10.9-1.6-19.1 3.1a99.43 99.43 0 0 1-20-.7c-3.4-6.4-8-13.2-26.6-7.4-4.8-2.1-9.3-4.5-13.7-7.3 4.8-12.7-29.4-47.3-29.4-82.8 0-55.2 48.7-93.1 83.1-91.8 23.2.9 39.2 12.6 61.4 11.3 1.8 1.4 3.6 2.8 5.3 4.4 6.5 24.9 19.5 46 19.5 75.6z">
      </path>
      <path
        d="M46.3 184.4c21.4-18.9 46-33.3 66.6-39.8 6.9-18.3 12.9-37.3 17.7-54-15.3 30.2-37.2 55.8-50.7 55.6-4.2 0-13.2-8.8-13.4-23.5 2.9-27.4 33.8-70 38-88.5-15.2 6.7-54 43.8-61.9 81.4-.5 2.4 3.6 5.5 5.7 6.4-2 3-7.6 1.3-11-.5-6.7-3.6-11.7-13.9-10.9-22.5 9.2-34 46.1-74.5 73.1-76 6.9-.2 18.5 11.6 18.2 19.1 0 15.6-38.1 79.2-35.4 87.5 14-5.6 40-36.6 54.7-67.7 1.2-3.7 6.9-22.8 9.8-28.4 4.8-9.1 10.4-11.7 14.6-12.2A98.35 98.35 0 0 0 100 0C44.8 0 0 44.8 0 100c0 35.5 18.5 66.6 46.3 84.4zm80.3-26.7c-6.1 15.8-12.9 30.4-20 42.1 6.6-.4 12.9-1.5 19.1-3.1 9.5-17.9 16.6-33.4 18.6-40.7-3.7-1.1-9.9-.5-17.7 1.7zm-40 41.4c6.2-9.5 12-20.8 17.5-33-13.2 6-28.3 14.6-44.1 25.5 8.3 3.7 17.3 6.3 26.6 7.5z">
      </path>
      <path
        d="M166.6 25.5c-6.4 15.4-17.5 60.2-24.8 86.1-2.7 9.6-5.8 19.5-9.1 29.2 1.6-.1 3.1-.1 4.6 0 14 1.7 23.5 17.1 13.3 43.1l-1.2 3A99.97 99.97 0 0 0 200 100a99.6 99.6 0 0 0-33.4-74.5z">
      </path>
    </symbol>
    <symbol id="arrow-right" viewBox="0 0 24 24">
      <path fill="currentColor" d="m12 4-1.4 1.4 5.6 5.6H4v2h12.2l-5.6 5.6L12 20l8-8z"></path>
    </symbol>
    <symbol id="arrow-select" viewBox="0 0 18 18">
      <path fill="currentColor" d="M5.6 6.4 9 9.8l3.4-3.4 1.1 1.1L9 12 4.5 7.5z"></path>
    </symbol>
    <symbol id="arrow-breadcrumb" viewBox="0 0 16 16">
      <path fill="currentColor" d="m6.68 4-.94.94L8.793 8 5.74 11.06l.94.94 4-4z"></path>
    </symbol>
    <symbol id="icon-clock" viewBox="0 0 16 16">
      <path fill="currentColor"
        d="M8 1.3a6.7 6.7 0 1 0 0 13.4A6.7 6.7 0 0 0 8 1.3Zm0 12A5.3 5.3 0 1 1 8 2.7a5.3 5.3 0 0 1 0 10.6Zm.3-8.6h-1v4l3.5 2 .5-.8-3-1.7V4.7Z">
      </path>
    </symbol>
    <symbol id="icon-times" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M19 6.4 17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"></path>
    </symbol>
    <symbol id="icon-like" viewBox="0 0 16 16">
      <path fill="currentColor"
        d="M4.67,12.67v-6.67c0-.37.15-.7.39-.94L9.45.67l.71.7c.18.18.29.43.29.71l-.02.21-.63,3.05h4.21c.73,0,1.33.6,1.33,1.33v1.33c0,.17-.03.33-.09.49l-2.01,4.7c-.2.48-.67.81-1.23.81h-6c-.73,0-1.33-.6-1.33-1.33ZM6,6l2.89-2.89-.89,3.56h6v1.33l-2,4.67h-6v-6.67Z">
      </path>
      <polygon fill="currentColor" points=".67 6 3.33 6 3.33 14 .67 14 .67 6"></polygon>
    </symbol>
    <symbol id="icon-lens" viewBox="0 0 18 18">
      <path fill="currentColor"
        d="M11.898 10.74h-.61l-.216-.208a4.995 4.995 0 0 0 1.212-3.265 5.017 5.017 0 1 0-5.017 5.017 4.995 4.995 0 0 0 3.265-1.212l.209.217v.61L14.6 15.75l1.15-1.15-3.852-3.86Zm-4.63 0a3.469 3.469 0 0 1-3.474-3.473 3.469 3.469 0 0 1 3.473-3.473 3.469 3.469 0 0 1 3.474 3.473 3.469 3.469 0 0 1-3.474 3.474Z">
      </path>
    </symbol>

    <symbol id="arrow-slider-prev" viewBox="0 0 24 24">
      <path fill="currentColor" d="M17.51 3.87 15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12z"></path>
    </symbol>
    <symbol id="arrow-slider-next" viewBox="0 0 24 24">
      <path fill="currentColor" d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
    </symbol>
    <symbol id="icon-info" viewBox="0 0 16 16">
      <path fill="currentColor"
        d="M7.333 4.667h1.334V6H7.333V4.667Zm0 2.666h1.334v4H7.333v-4Zm.667-6A6.67 6.67 0 0 0 1.333 8 6.67 6.67 0 0 0 8 14.667 6.67 6.67 0 0 0 14.667 8 6.67 6.67 0 0 0 8 1.333Zm0 12A5.34 5.34 0 0 1 2.667 8 5.34 5.34 0 0 1 8 2.667 5.34 5.34 0 0 1 13.333 8 5.34 5.34 0 0 1 8 13.333Z">
      </path>
    </symbol>

    <symbol id="preloader-circle" viewBox="0 0 30 30">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M30 15C30 23.2842 23.2844 30 15 30C6.71558 30 0 23.2842 0 15C0 6.7157 6.71558 0 15 0C23.2844 0 30 6.7157 30 15ZM26 15C26 21.0751 21.0752 26 15 26C8.9248 26 4 21.0751 4 15C4 8.92487 8.9248 4 15 4C21.0752 4 26 8.92487 26 15Z">
      </path>
    </symbol>
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check2" viewBox="0 0 16 16">
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
      <path
        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
      <path
        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
      <path
        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
    </symbol>
  </svg>
  <!--SVG-->



</head>

<body>


  <div class="container-fluid py-3 guide " style="padding-left: 0;padding-right: 0;">
    <header>
      <div class="d-flex flex-column flex-md-row pb-3 border-bottom">
        <div class="container d-flex flex-column flex-md-row">
          <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4 uniflogo"><img src="./image/logo/logo.jpg" alt="" width="193" height="14"></span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto align-items-center">
            <a class="py-2 link-body-emphasis text-decoration-none" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                viewBox="0 0 24 24">
                <title>Search</title>
                <circle cx="10.5" cy="10.5" r="7.5" />
                <path d="M21 21l-5.2-5.2" />
              </svg>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">ログイン</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">カテゴリー</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">お問い合わせ</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="#"><i class="fa fa-shopping-cart"></i></a>
          </nav>
        </div>
      </div><!--container END-->
    </header>
  </div><!--container-fluid END-->


<main>
    <div id="product-wrapper" class="product-wrapper mfp-with-anim">
        <div class="container">
            <!--ヘッダー-->
            <div class="row">
                <div class="product__top">
                    <!--
            <h1 class="h1">Hooded Windbreaker Mockup</h1>
            -->
                    <h2 class="section-header__title">
                        <span class="section-ttl">wundow p175 タフドライ長袖Ｔシャツ</span>
                    </h2>

                    <ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                            itemtype="https://schema.org/ListItem">
                            <meta itemprop="position" content="2" />
                            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage" itemprop="item"
                                itemid="/mockups" href="/mockups">
                                <span itemprop="name">Mockups</span>
                            </a>
                            <svg width="16" height="16">
                                <use xlink:href="#arrow-breadcrumb"></use>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                            itemtype="https://schema.org/ListItem">
                            <meta itemprop="position" content="3" />
                            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage" itemprop="item"
                                itemid="/mockups/category/apparel-mockups" href="/mockups/category/apparel-mockups">
                                <span itemprop="name">Apparel</span>
                            </a>
                            <svg width="16" height="16">
                                <use xlink:href="#arrow-breadcrumb"></use>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                            itemtype="https://schema.org/ListItem">
                            <meta itemprop="position" content="4" />
                            <a class="breadcrumbs__link" itemscope itemtype="https://schema.org/WebPage" itemprop="item"
                                itemid="/mockups/category/jackets-mockups" href="/mockups/category/jackets-mockups">
                                <span itemprop="name">Jackets</span>
                            </a>
                            <svg width="16" height="16">
                                <use xlink:href="#arrow-breadcrumb"></use>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                            itemtype="https://schema.org/ListItem">
                            <meta itemprop="position" content="5" />
                            <span itemprop="name">wundow p175 タフドライ長袖Ｔシャツ</span>
                        </li>
                    </ol>
                </div>
            </div>
            <!--ヘッダー-->


            <!--スライダー -->
            <div class="row">
                <!--左2/3-->
                <div class="col-md-8">
                    <div id="product-media" class="product__media">
                        <div class="swiper product__slider">
                            <div class="swiper__wrapper">
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082208-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082209-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082210-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082211-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082212-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082213-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup" width="466"
                                        height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082214-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082215-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082216-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082217-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082220-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082218-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082219-cover.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="466" height="580">
                                </div>
                            </div>
                            <div class="swiper__button swiper__button_prev"><svg width="18" height="18">
                                    <use xlink:href="#arrow-slider-prev"></use>
                                </svg></div>
                            <div class="swiper__button swiper__button_next"><svg width="18" height="18">
                                    <use xlink:href="#arrow-slider-next"></use>
                                </svg></div>
                        </div>




                        <div class="swiper__pagination"></div>
                        <div class="swiper product__thumbs">
                            <div class="swiper__wrapper">
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082208-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082209-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082210-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082211-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082212-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082213-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082214-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082215-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082216-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082217-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082220-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082218-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                                <div class="swiper__slide">
                                    <img src="https://yi-files.yellowimages.com/products/1255000/1255024/2082219-tn.jpg"
                                        alt="Hooded Windbreaker Mockup" title="Hooded Windbreaker Mockup"
                                        width="100" height="124">
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--左２段目説明-->
                    <div class="product__description">
                        <h3 class="h3">Product description</h3>
                        <div class="product__description-content clearfix">
                            <p><strong>スポーツ向け長袖ドライTシャツ</strong><br>
                                しっかりとしたメッシュ素材で丈夫。袖口はフライス編みで伸縮性があり動きやすく着替えが楽なシャツです。吸汗速乾で丈夫な素材、激しい動きが伴うスポーツや着用頻度の高い部活動等にも向いており、スライディングなどの動きにより怪我が伴いやすいスポーツの練習着にもおすすめです。 もちろん子供から大人まで豊富なサイズ展開、そして豊富なカラーパターンをラインアップしています。
                                ( <span
                                    id="itemNo">p175</span> wundow タフドライ長袖Ｔシャツ
                                )
                            </p>
                        </div>
                    </div>
                    <!--左２段目説明-->
                </div>








                <!--画面右1/3スペース-->
                <div class="col-md-4">


                    <div class="product__section product__info">
                        <div class="product__info-box">
                            <div class="product__info-content">


                                <div class="product__card">
                                    <form action="http://127.0.0.1:8000/cartAdd/index" method="post">
                                        <input type="hidden" name="_token" value="cPz7jlWV2JAnMuSoKM0u8M9qQJRW1puwsISpkliQ" autocomplete="off">                                        <input type="hidden" name="id" value="1">
                                        <!-- if is err -->
                                        <div>
                                                                                    </div>
                                        <!-- if is err-->

                                        <!-- id="1" id="selected_image1"  -->
                                        <div class="product__files">
                                            <div class="h4">アイテムカラー</div>
                                            <div class="d-flex">
                                                
                                                <button id="1" type="button" class="btn btn-primary part" data-bs-toggle="modal" data-bs-target="#UnifColorModal" style="margin-right: 4px;">
                                                    色見本を開く
                                                </button>

                                                <input type="text" value="" class="select2 textbox-grow"
                                                    id="selected_image1" name="アイテムカラー"
                                                    style="border: 1px solid #e2e5e9;">



                                                    
                                            </div>
                                        </div>

                                        <!-- id="2" id="selected_image2"  -->
                                        <div class="product__files">
                                            <div class="h4">マーキング左片胸</div>
                                            <div class="d-flex">
                                                <button id="2" type="button"
                                                    class="btn btn-primary part btn-send" data-bs-toggle="modal"
                                                    data-bs-target="#UnifColorModal" style="margin-right: 4px;">
                                                    色見本を開く
                                                </button>
                                                <input type="text" value="" class="select2 textbox-grow"
                                                    id="selected_image2" name="マーキング左片胸"
                                                    style="border: 1px solid #e2e5e9;">
                                            </div>
                                        </div>

                                        <div class="product__files">
                                            <div class="h4">左片胸に入れる文字</div>
                                            <div class="d-flex ">
                                                <input type="text" value="" class="select2"
                                                    name="左片胸に入れる文字"
                                                    style="border: 1px solid #e2e5e9 ;width: 100%; padding: 0.3em;">
                                            </div>
                                        </div>

                                        <!-- ID 3 -->
                                        <div class="product__files">
                                            <div class="h4">マーキング右片胸</div>
                                            <div class="d-flex ">
                                                <button id="3" type="button" class="btn btn-primary part"
                                                    data-bs-toggle="modal" data-bs-target="#UnifColorModal"
                                                    style="margin-right: 4px;">
                                                    色見本を開く
                                                </button>
                                                <input type="text" value="" class="select2 textbox-grow"
                                                    id="selected_image3" name="マーキング右片胸"
                                                    style="border: 1px solid #e2e5e9;">
                                            </div>
                                        </div>

                                        <div class="product__files">
                                            <div class="h4">右片胸に入れる文字</div>
                                            <div class="d-flex ">
                                                <input type="text" value="" class="select2"
                                                    name="右片胸に入れる文字"
                                                    style="border: 1px solid #e2e5e9 ;width: 100%;padding: 0.3em;">
                                            </div>
                                        </div>




                                        <!-- マーキング胸中央 -->
                                        <div class="product__files">
                                            <div class="h4">マーキング胸中央</div>
                                            <select class="form-select" aria-label="Default select example"
                                                name="マーキング胸中央">
                                                <option data-price="0" selected>なし
                                                </option>
                                                <option data-price="550">1色(15cm×15cm以内)¥550</option>
                                                <option data-price="880">1色(15cm×35cm以内)¥880</option>
                                                <option data-price="1100">フルカラー(15cm×15cm以内)¥1100</option>
                                                <option data-price="1650">フルカラー(15cm×35cm以内)¥1650</option>
                                            </select>
                                        </div>

                                        <div class="product__files">
                                            <div class="h4">マーキング胸中央</div>
                                            <select id="product-filetype-select" class="select2">
                                                <option value="tiff-with-layers" selected>PSD Mockup</option>
                                                <option value="jpg">JPG image</option>
                                            </select>
                                        </div>


                                        <div class="product__files">
                                            <div class="h4">SKU</div>
                                            <input id="sku" class="" name="sku" value="" readonly>
                                        </div>




                                        <div id="product-buynow" rel="nofollow"
                                            class="pill pill_w100 pill_big pill_black product__actions-buy is-disabled">
                                            <span>カートに入れる</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--<div class="col-md-4">-->
        </div>


    </div>
    </div>


    <!--モーダル-->


    <!--モーダル-->

</main>

<footer class="pt-4 pt-md-5 pre-footer">
		<div class="row">
		  <div class="col-12 col-md">
			<!--<img class="mb-2" src="./image/logo/logo.jpg" alt="" width="193" height="14">-->
			<h5>UNIFORMLAB</h5>
			<small class="d-block mb-3">&copy; 2014–2024</small>
		  </div>
		  <div class="col-6 col-md">
			<h5>お支払い</h5>
			<ul class="list-unstyled text-small">
			  <li class="mb-1">■クレジットカード決済</li>
			  <li class="mb-1">■銀行振込（前払い）</li>
			  <li class="mb-1">■郵便振替（前払い）</li>
			  <li class="mb-1">■コンビニ後払い</li>
			  <li class="mb-1">※限度額：累計残高で110,000円迄(税込み)他店舗含む</li>
			</ul>
		  </div>
		  <div class="col-6 col-md">
			<h5>送料・配送について</h5>
			<ul class="list-unstyled text-small">
			  <li class="mb-1">■佐川急便・郵便局にて配送いたします</li>
			  <li class="mb-1">■【送料】全国一律770円（税込）※離島・沖縄県は送料が加算される場合がございます。</li>
			  <li class="mb-1">■※11,000円以上のご注文で送料無料。</li>
			</ul>
		  </div>
		  <div class="col-6 col-md">
			<h5>運営会社</h5>
			<ul class="list-unstyled text-small">
			  <li class="mb-1">■株式会社ディーキャスト</li>
			  <li class="mb-1">■〒116-0001</li>
			  <li class="mb-1">■東京都荒川区町屋7-13-12</li>
			  <li class="mb-1"><a class="link-same-color" tel:08022829131">■TEL:080-2282-9131　(直通）</a></li>
			  <li class="mb-1"><a class="link-same-color" tel:0364582577">■TEL:03-6458-2577</a></li>
			  <li class="mb-1">■FAX:03-6240-8066</li>
			  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">■店舗運営責任者/店舗セキュリティ責任者 出水　文虎</a></li>
			  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">■特定商取引に関する法律に基づく表記</a></li>
			  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">■お問い合わせ</a></li>
			</ul>
		  </div>
		</div>
	  </footer>
	  <div class="footer"></div>
	  </div>
	  <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
	
	  <!--slickスライダー-->
	  <!-- jQuery -->
	  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
	  <!-- slickのJavaScript -->
	  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	
	  <script src="./assets/dist/js/home.js"></script>
	  <script src="./assets/dist/js/swiper.js"></script><!--app.js-->
	  <script src="./assets/dist/js/app.js"></script><!--app.js-->


	<!--色モーダル-->
	<div class="modal fade" id="ColorSelectModal" tabindex="-1" aria-hidden="true" style="z-index: 2147483647;">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">色見本</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
				</div>
	
				<div class="modal-body">
					<form>
						<div class="container">
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mk10'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mk10.jpg"
												alt="">
											<div>mk10</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='me41'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/me41.jpg"
												alt="">
											<div>me41</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mj03'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mj03.jpg"
												alt="">
											<div>mj03</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='me55'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/me55.jpg"
												alt="">
											<div>me55</div>
										</button>
									</div>
								</div>
							</div>
	
	
	
							<div class="row">
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mj09'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mj09.jpg"
												alt="">
											<div>mj09</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mj48'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mj48.jpg"
												alt="">
											<div>mj48</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mk18'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mk18.jpg"
												alt="">
											<div>mk18</div>
										</button>
									</div>
								</div>
	
								<div class="col-6 col-sm-4 col-md-3 col-lg-3">
									<div class="card " style="border: 0; padding:0">
										<button type="submit" class="btn select" id="1" data-id='mk33'
											data-bs-dismiss="modal">
											<img class="card-img-top" src="http://127.0.0.1:8000/images/colors/mk33.jpg"
												alt="">
											<div>mk33</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
				</div>
			</div>
		</div>
	</div>
	<!--色モーダル-->
	
	
	
	<!--ユニフォームカラーモーダル-->
	<div class="modal fade" id="UnifColorModal" tabindex="-1" aria-hidden="true" style="z-index: 2147483647;">
	  <div class="modal-dialog modal-xl">
		  <div class="modal-content">
			  <div class="modal-header">
				  <h5 class="modal-title">アイテムカラー</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal">✖️</button>
			  </div>
	
			  <div class="modal-body">
				  <form>
					  <div class="row">
						  							  <div class="col-6 col-sm-4 col-md-3 col-lg-3">
								  <div class="card" style="border: 0; padding:0">
									  <button type="submit" class="btn select item_color" id="1"
										  data-id = 'ネイビー' data-bs-dismiss="modal"
										  data-sku = 'p175_01'>
										  <img class="card-img-top"
											  src="http://127.0.0.1:8000/storage/image/detail/p175/p175_01.png"
											  alt="">
										  <div>ネイビー</div>
									  </button>
								  </div>
							  </div>
						  							  <div class="col-6 col-sm-4 col-md-3 col-lg-3">
								  <div class="card" style="border: 0; padding:0">
									  <button type="submit" class="btn select item_color" id="1"
										  data-id = 'ブラック' data-bs-dismiss="modal"
										  data-sku = 'p175_34'>
										  <img class="card-img-top"
											  src="http://127.0.0.1:8000/storage/image/detail/p175/p175_34.png"
											  alt="">
										  <div>ブラック</div>
									  </button>
								  </div>
							  </div>
						  							  <div class="col-6 col-sm-4 col-md-3 col-lg-3">
								  <div class="card" style="border: 0; padding:0">
									  <button type="submit" class="btn select item_color" id="1"
										  data-id = 'ブルー' data-bs-dismiss="modal"
										  data-sku = 'p175_03'>
										  <img class="card-img-top"
											  src="http://127.0.0.1:8000/storage/image/detail/p175/p175_03.png"
											  alt="">
										  <div>ブルー</div>
									  </button>
								  </div>
							  </div>
						  							  <div class="col-6 col-sm-4 col-md-3 col-lg-3">
								  <div class="card" style="border: 0; padding:0">
									  <button type="submit" class="btn select item_color" id="1"
										  data-id = 'ホワイト' data-bs-dismiss="modal"
										  data-sku = 'p175_00'>
										  <img class="card-img-top"
											  src="http://127.0.0.1:8000/storage/image/detail/p175/p175_00.png"
											  alt="">
										  <div>ホワイト</div>
									  </button>
								  </div>
							  </div>
						  							  <div class="col-6 col-sm-4 col-md-3 col-lg-3">
								  <div class="card" style="border: 0; padding:0">
									  <button type="submit" class="btn select item_color" id="1"
										  data-id = 'レッド' data-bs-dismiss="modal"
										  data-sku = 'p175_11'>
										  <img class="card-img-top"
											  src="http://127.0.0.1:8000/storage/image/detail/p175/p175_11.png"
											  alt="">
										  <div>レッド</div>
									  </button>
								  </div>
							  </div>
						  					  </div>
			  </div>
			  </form>
			  <div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
			  </div>
		  </div>
	  </div>
	</div>
	<!--ユニフォームカラーモーダル-->



	  <script>
		var parts_id;
		//パーツ選択のボタン
		$('.part').on('click', function() {
			parts_id = $(this).attr("id");
			//alert(parts_id);
		});
	
		$('.item_color').click(function() {
			var sku = $(this).data('sku'); //data-skuを取得。SKU番号が入っている
			$('#sku').val(sku); //SKUをテキストボックスに代入
			//alert(sku);
		});
	
		//モーダル画面で画像ボタンのselectクラスを押したら
		$('.select').click(function() {
			var image_name = $(this).data('id'); //data-idを取得。画像名が入っている
			var id = $(this).attr("id") //id=*を取得。1か2か3か..(何番めのプルダウンかNo)
			
			//代入先を動的に作成
			var img = {}; //
			img[parts_id] = "#selected_image" + parts_id; //#selected_image1
			var idNo = {}; //
			idNo[parts_id] = "#selected_id" + parts_id; //代入先id名 #selected_id1

			$(img[id]).text(image_name); //代入先 selected_image1
			$(img[parts_id]).val(image_name);
			$(idNo[id]).text(id); //代入先
		});
	</script>
	
	
	<!--金額の計算 -->
	<script>
		//アイテム代
		var item_price = 0;
		var option_price = 0;
		var quantity = 0; //数量
		var item_price_total = 0; //小計＊数量
		//HTML読み込み時
		$(document).ready(function() {
			$("#item_price").val(item_price + "円");
	
			//var sku = $(this).data('sku'); //data-skuを取得。SKU番号が入っている
			//$('#sku').val(sku); //SKUをテキストボックスに代入
		});
		$(document).ready(function() {
			var num;
			num = item_price + option_price;
			num.toLocaleString(); //3桁区切りの文字列に変換
			$("#item_price_total").val(num + "円");
		});
	
		//オプション代
		$(function() {
			$("select").change(function() {
				var data_array = [];
				for (var i = 0; i < $(".option_select").length; i++) {
					var item_select = $(".option_select").eq(i).find("option:selected").data("price");
					data_array.push(item_select);
				}
				var total = 0;
				for (var j = 0; j < data_array.length; j++) {
					total += data_array[j];
				}
				$("#option_price").val(total + "円");
	
				var num;
				num = item_price + option_price;
				num.toLocaleString(); //3桁区切りの文字列に変換
				$("#item_price_total").val(num + "円");
				//$("#item_price_total").val(item_price + total + "円");
			});
		});
	</script>
	
	
	<!-- ユニフォームの枚数＊単価で総合計 -->
	<script type="text/javascript">
		$(document).ready(function() {
			//$("#Button1").click(function() {
			$(".product__info-content").change(function() {
				//数量*単価の配列
				var inputText = $(".textBox").map(function(index, el) {
					//return $(this).val();
					return $(this).val() * $(this).data('price'); //数量*単価
				});
				//数量合計だけの配列
				var countSum = $(".textBox").map(function(index, el) {
					return $(this).val();
				});
				//ユニフォーム金額合計(枚数*単価)
				var sumTotal = 0;
				for (i = 0; i < inputText.length; i++) {
					sumTotal += Math.trunc(inputText[i]);
				}
				//枚数合計
				var totalQuantity = 0;
				for (i = 0; i < countSum.length; i++) {
					totalQuantity += Math.trunc(countSum[i]);
				}
				//オプション単価
				var optionUnitPrice = $('#option_price').val();
				optionUnitPrice = optionUnitPrice.replace('円', '');
	
				//枚数
				$("#quantity").val(totalQuantity);
	
				//総合計金額
				var totalAmount = 0;
				totalAmount = sumTotal + (totalQuantity * optionUnitPrice);
				Number(totalAmount).toLocaleString(); //3桁区切りの文字列に変換
				$("#item_price_total").val(totalAmount + "円");
	
				//$("#item_price_total").val(totalAmount + "円");
			})
		})
	</script>
	


	
	</body>
	</html>

